<%- include ('template/_header')%>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Descripcion del curso</h1>
            <p class="lead">
                portafolio digital con boostrap para la materia de desarrollo 9 comercio electronico con Java Script
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card border-info">
                    <div class="card-header"><h4>Sobre el Curso</h4></div>
                    <div class="card-body">
                      <h4 class="card-title">Desarollo de software 9 Comercio Electronico</h4>
                      <p class="card-text">
                          <ul>
                              <li>Este curso introduce al estudiante al desarrollo de sitios Web aplicando conceptos de comercio electrónico</li>
                              <li>La clase será teórico práctica de manera autodirigida. El estudiante tiene la
                              responsabilidad de leer los contenidos y buscar contenido
                              complementarios para desarrollar las actividades. Cada tema estará
                              disponible en la plataforma educativa Moodle de la UTP.</li>
                              <li>Se espera que al finalizar el curso los estudiantes dominen los
                                concepto de comercio electrónico para aplicarlo en un proyecto real</li>
                          </ul>
                      </p>
                    </div>
                  </div>
            </div>
            <div class="col-sm">
                <embed src="docs/Desarrollo-9-presentacin2020.pdf" type="application/pdf" width="105%" height="100%" />
            </div>
            <div class="row">
                <div class="col-sm"></div>
            </div>
        </div>
    </div>
    <%- include ('template/_footer')%>