<%- include ('template/_header')%>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Plan de contenido del Curso</h1>
        <p class="lead">
            Detalle del material y el cronograma del curso
        </p>
    </div>
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card border-info">
                        <div class="card-header"><h4>Plan de contenido</h4></div>
                        <div class="card-body">
                          <h4 class="card-title">Desarollo de software 9 Comercio Electronico</h4>
                          <p class="card-text">
                            <p><h5>Objetivo General</h5></p>
                            <p>Desarrollar aplicaciones web, basados en el planeamiento, diseño, arquitectura,
                                seguridad, manejo de base de datos, promoción y mantenimiento de un sitio web
                                de comercio electrónico, utilizando un lenguaje de programación web y tecnologías
                                emergentes.</p>
                          </p>
                        </div>
                      </div>
                </div>
                <div class="col-sm">
                    <embed src="docs/DPC_8409_Plan_Contenido_DSW_IX.pdf" type="application/pdf" width="105%" height="150%" />
                </div>
                <div class="row">
                    <div class="col-sm"></div>
                </div>
            </div>
        </div>
    </div>
<%- include ('template/_footer')%>