<%- include ('template/_header')%>
   
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Portafolio Desarollo 9</h1>
            <p class="lead">
                portafolio digital con boostrap para la materia de desarrollo 9 comercio electronico con Java Script
            </p>
            <hr class="my-4">
            <p>Profesor:Kexy Rodríguez</p>
            <p>Estudiante: Antonio Sarmiento 8-939-2247</p>
            <div class="container table table-hover">
                <div class="row">
                    <div class="col-md-3 lead"><a class="btn btn-primary btn-lg" href="/aboutCourse" role="button">Descripción del Curso</a></div>
                    <div class="col-md-2 lead"><a class="btn btn-primary btn-lg" href="/content" role="button">Contenido</a></div>
                    <div class="col-md-3 lead"><a class="btn btn-primary btn-lg" href="#" role="button">Planificación Semestral</a></div>
                    <div class="col-md-2 lead"><a class="btn btn-primary btn-lg" href="#" role="button">Actividades</a></div>
                    <div class="col-md-2 lead"><a class="btn btn-primary btn-lg" href="/map" role="button">Mapa</a></div>
                </div>
            </div> 
          </div>
          <div class="row mb-2">
            <div class="col-md-6">
              <div class="card border-warning flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                  <strong class="d-inline-block mb-2 text-warning">Java Script</strong>
                  <h3 class="mb-0">
                    <p class="text-warning">El lenguaje de la web</p>
                  </h3>
                  <p class="card-text mb-auto">
                    JavaScript es un lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como orientado a objetos, basado en prototipos, imperativo, débilmente tipado y dinámico.
                  </p>
                  <a href="https://es.wikipedia.org/wiki/JavaScript">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" src="img/js.png" alt="Card image cap" style="width: 35%;">
              </div>
            </div>
            <div class="col-md-6">
              <div class="card border-info flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                  <strong class="d-inline-block mb-2 text-info">e-commerce</strong>
                  <h3 class="mb-0">
                    <p class="text-info">El comercio de la actulidad</p>
                  </h3>
                  <p class="card-text mb-auto">
                    Consiste en la compra y venta de productos o de servicios a través de internet, tales como redes sociales y otras páginas web.
                  </p>
                  <a href="https://es.wikipedia.org/wiki/Comercio_electrónico">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" src="img/ec.png" alt="Card image cap" style="width: 35%;">
              </div>
            </div>
          </div>
        </div>
    </div>

<%- include ('template/_footer')%>