<%- include ('template/_header')%>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Mapa del sitio</h1>
            <p class="lead">
                Mapa del sitio web
            </p>
          </div>
          <div class="row">
              <div class="col-sm">
                  <img src="img/map.png" alt="" style="width: 100%;">
              </div>
          </div>
    </div>
<%- include ('template/_footer')%>