<%- include ('template/_header')%>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Presentacion del estudiante</h1>
            <p class="lead">
                <h3>Estudiante: Antonio Sarmiento</h3>
            </p>
          </div>
          <div class="row">
            <div class="col-sm-4">
                <img src="img/me.jpg" alt="Card image" style="width: 100%;">
              </div>
              <div class="col-sm-8">
                <div class="card">
                    <h3 class="card-header">Antonio Sarmiento</h3>
                    <div class="card-body">
                      <h5 class="card-title text-info">Estudiante de Lic. Desarrollo de software</h5>
                      <h6 class="card-subtitle text-muted">Interes en desarrollo backend y programasion multiplataforma y servidores</h6>
                    </div>
                    <div class="card-body">
                      <p class="card-text"><h4>Objetivo profesional</h4></p>
                      <p class="card-text">
                          Deseo como profesional dedicarme al desarollo web enfocado en servidores y IOT, aunque me veo inclinado tambien
                          en cierta medidad por el desarollo web. 
                          Quiero creecer profesionalmente para proximamente fundar una empresa de desarollo de software y como proyecto personal 
                          deseo crear un estudio dedicado a la creacion de videojuegos, ya que disfruto de estos y aun mas del proceso que existe detras de su creacion
                        </p>
                      <p class="card-text"><h4>Formacion academica</h4></p>
                      <p class="card-text">
                        <ul>
                            <li>Instituto Bilingüe Ciudad Vacamonte,<a class="text-success">Bachiller en Ciencias con énfasis en bancas y finanzas</a></li>
                            <li>Universidad Tecnológica de Panamá ,<a class="text-success">Cruzando 4 año.</a></li>
                        </ul>  
                      </p>
                      <p class="card-text">
                        <p class="card-text"><h4>Conocimeintos</h4></p>
                          <ul>
                              <li>Java.</li>
                              <li>JavaScript.</li>
                              <li>JQuery, Ajax.</li>
                              <li>C#.</li>
                              <li>PHP, Laravel.</li>
                              <li>Conocimiento en la web HTML, CSS.</li>
                              <li>Asp.net Básico.</li>
                              <li>SQL (SQL Server, MySQL).</li>
                              <li>Manejo de sistemas operativos Windows y Linux (Ubuntu y Kali Linux).</li>
                              <li>Conocimiento básico en AWS.</li>
                              <li>Modelado 3D básico.</li>
                                
                              </li>
                          </ul>
                      </p>
                    </div>
                    <div class="card-footer text-muted">
                        <button type="button" class="btn btn-secondary material-icons text-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="zarmiento227@gmail.com" aria-describedby="tooltip648757">mail_outline</button>
                        <button type="button" class="btn btn-secondary material-icons text-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="6014-8229" aria-describedby="tooltip648757">call</button>
                    </div>
                  </div>   
              </div>
          </div>
    </div>
<%- include ('template/_footer')%>